@-moz-document url-prefix("https://tools.is.oregonstate.edu/reftool2/") {
body {
    background-image: url(http://www.androidguys.com/wp-content/uploads/2016/05/Poly-Lakeside.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  textarea {
    background-color: #be5446;
    border-color: #865066 !important;
  }

  a, a:hover, .search-type[_ngcontent-c5], .copy-button {
    color: #f58f44;
  }

  .copy-button:hover, .dropdown-menu > li > a, .modal-title {
    color: white !important;
  }

  .navbar-nav > li > a:focus, .navbar-nav > li > a:hover, .dropdown-menu {
    background-color: #e47843 !important;
  }

  .dropdown-menu > li > a:hover {
    background-color: #c9695d !important;
  }

  .control-label > i, .dropdown-toggle > div > i {
    color: white !important;
  }

  .navbar-inverse, .btn-primary {
    background-color: #be5446;
  }

  .btn-primary:hover, .btn-primary:active {
    background-color: #924136 !important;
  }

  .btn-disclaimer[_ngcontent-c4] {
    display: none;
  }

  .btn-default, .btn-default:active, .btn-primary {
    color: white;
    background-color: #be5446;
    border-color: #793a40;
  }

  .btn-default, .btn-default:hover {
    outline: none;
  }

  .btn-default:hover, .btn-default:focus, .btn-primary:hover {
    color: white !important;
    background-color: #e47843 !important;
    border-color: #793a40;
  }

  #loading {
    background-color: #26203c;
  }

  .panel, .panel-body, .panel-footer, .panel-heading {
    background: rgba(190, 84, 70, 0.4) !important;
    border-color: #793a40 !important;
    color: white !important;
  }

  .panel-heading-button[_ngcontent-c8] {
    background-color: #be5446
  }

  .input-group * {
    border-color: #ab493c;
    color: white;
    background-color: #be5446;
  }

  .form-control:focus, textarea:focus, .btn-default:active:focus, .btn-default:focus, .btn-primary:focus {
    outline: none !important;
    border-color: #f58f44 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(245, 143, 68, 0.6)
  }

  .btn-primary:focus{
    background-color: #f58f44;
  }

  ::-webkit-input-placeholder {
    color: #dcdcdc !important;
  }

  .input-group-btn {
    background-color: rgba(190, 84, 70, 0);
  }

  .well {
    background-color: #ab493c;
    border: none;
    box-shadow: rgba(38, 32, 60, 0.5) 3px 3px 3px;
  }

  .warning {
    border: none !important;
  }

  .well > .table {
    color: white;
  }

  .table-hover > tbody > tr:hover {
    background-color: #964035;
  }

  .modal-content {
    background: rgba(190, 84, 70, 1) !important;
  }

  .modal-title {
    color: white !important;
  }

  .modal-body, .modal-footer, .modal-header {
    background-color: #7f2f24;
  }

  .modal-body * {
    color: white !important;
  }
  .lrp, .vip {
      color: black !important;
  }
    .vip > a > i, .lrp > a > i {
      color: black;
  }
}