/* Uncomment each of these (remove the '/*' and inverse around the item) to hide things that you probably don't use: */


/*
/* Template {} 
#divTemplate {
    display: none;
}
*/

/* Start Date {} */
#divStartDate {
    
    display: none;
}

/* Due Date {} */
#divDueDate {
    
    display: none;
}

/*Service Level Agreement {}
#divSLA {

    display: none;
}
*/

/*Requestor Card Removal {}
#form1 > div.container-fluid > div.row > div.col-sm-4.hidden-xs.gutter-top {

    display: none;
}*/

/*Resize Column (only tested/works if requestor card removed) {}
@media (min-width: 768px) {

    #divContent {
        width: 100%;
        padding: 5px 40px 0px 40px;
    }
}*/

/* Source {} */
#fieldsContainer > div:nth-child(9) {
    
    display: none;
}


/* Task Template {} */
#fieldsContainer > div:nth-child(16) {
    
    display: none;
}

/* COHO Ticket Info {} */
#divAttribute25936 {
    
    display: none;
}