@-moz-document url-prefix("https://support.oregonstate.edu/") {
/*Background*/
.DetailTableContainer, .SubDetailPanel, .HelpPanel {
    background-color: #555 !important;
    color: white;
}

/*Red Bar*/
.MainDetailHeaderPanel, .SubDetailHeaderPanel {
    background-color: #555 !important;
}

/*Search Bar*/
.DetailTableHeaderPanel {
    background-color: #555;
}

/*Command Icons and boat*/
.CommandPanel, .EmptyPanel img, .DetailTabList, .DetailTableHeaderPanel a {
    filter:brightness(300%);
}

/*Active session*/
.Selected td {
    background-color: #777 !important;
}

.Data {
    color: black;
}
}
