/*Main background color*/

body, #divHeader, .comment, .ms-drop, .modal-content, #divStandardFields, .white-bg, #TodosMenu, #divFeedback2, .breadcrumb {
	background-color: #5f636b !important;
}

/*Hide default link*/
.organization-link a {
    visibility: hidden;
}

/*COHO stlye header*/
.organization-link {
    background-image: url("https://secure.oregonstate.edu/u_central/images/blackWordmark.gif");
    background-repeat: no-repeat;
    background-color: black;
    margin-bottom: 2em;
    box-shadow: 0px 10px #e55302;
}
/*Fixed header margin*/
.organization-link {
    margin: 0px;
}

/*white user text*/
i.fa .fa-user {
    color: white !important;
}

/*Applications menu background*/
#ApplicationsMenu {
    background-color: #797e84;
}

/*Desktop module background*/
.desktop-module {
    background-color: #bbb;
}

/*More text that needs to be white*/
#upDetails, .control-label, h1,  h2, label, #ttDescription, .gutter-top-xs, .gray, .absoluteDate, .gutter-left-sm, .lead, .text-muted, .col-sm-6 {
    color: white;
}

/*Default color of hyperlinks*/
a {
    color: #5394fc;
    text-decoration: underline;
}

/*Alternating table color*/
.TDAlternatingRow {
    background-color: #696f7a !important;
}

/*Alternating table text color*/
.TDAlternatingRow  a, .TDAlternatingRow td {
    color: white;
}

/*More text to be white*/
#thTicket_lblStatus, .gray, .fieldsContainer, .user-link span {
     color: white !important;
}

/*Text to be black*/
td a, td, .pull-right, .gutter-top-xs, .ModuleContent, .popover {
    color: black;                                       
}

/*Navbar background color*/
.navbar, .TabButtonCell, .panel-body {
    background-color: #cfd1d3 !important;
    color: black;
}

/*More white text*/
#divToDos, #dropdownMenu1, .block-info, .col-md-12, .frmFldLbl, #ctl00_lblStatus, .status {
    color: white !important;
}

/*More black text*/
.pull-right label, .feed-reply .absoluteDate, .feed-reply  {
    color: black !important;
}

#upSearch td, #upSearch td a, .gutter-bottom, #grdTickets-tblGrp-1 td, #grdTickets-tblGrp-1 a, .feed-item .gutter-top-xs, .help-block {
    color: white;
}

/*ticket grid background color*/
#grdTickets-tblGrp-1 tr {
    background-color: #7b7e84 !important;
}

/*Responsible Dropdown text color*/
.lu_tdac-auto {
    color: black;
}

/*Children List colors*/
#grdChildren td, #grdChildren td a {
    color: white;
}

#upChildren td {
    background-color: #5f636b;
}

/*Child list Header Table Color*/
.TDGridHeader td {
    background-color: #eee !important;
}

/*Children list table header*/
tr.TDGridHeader td a, tr.TDGridHeader td, .TDGridHeader, .TDPagerRow span {
    color: black !important;
}

/*Details label*/
.panel label {
    color: black;
}

/*Requestor Black Text*/
#pcRequestor_divPersonInfo .gutter-top-xs {
    color: black !important;
}

/*People table*/
#grdPeople td {
    background-color: #c8cace;
}

#grdPeople-tblGrp-1 td,  #grdPeople-tblGrp-1 td a{
    color: black !important;
}

/*MyWork sidebar*/
#navPrimary span {
    color: white;
}

.sidebar-wrapper {
    background-color: #535860 !important;
}

.sidebar-wrapper a {
    color: #89b6ff !important;
}

/*End MyWork Sidebar*/

/*IT sidebar*/
#divLeft {
    background-color: #535860 !important;
}

#divLeft .text {
    color: white !important;
}

#divLeft .selected .text, #divLeft .text:hover {
    color: black !important;
}

.sidebar-wrapper a {
    color: #89b6ff !important;
}

/*End IT Sidebar*/

/*UI Tabs*/
li.ui-state-default  {
    color: white !important;
}

li.ui-state-active {
    color: black !important;
    background-color: #cfd1d3 !important;
}
/*End UI Tabs*/

/*People info*/
.person-container {
    background-color: #ccc;
    border-radius: 2px;
}

/*Read by table, person lookup table*/
#UpdatePanel1, #ctl00_cphGrid_grdUsers {
    background-color: #ccc !important;
}

/*Ticket tabs*/


/*More table*/
.table-striped, #ctl00_cphMain_grdTickets tr, #upUsers tr, #grdReadBy tr, #ctl00_upItems tr, #grdAssignments tr, #grdDesktops tr, #grdTickets tr, #ctl00_ctl00_cpContent_cpContent_grdTickets tr, .table-responsive tr, #UpdatePanel2 tr {
    background-color: #777 !important;
}

#ctl00_cphMain_grdTickets th, #upUsers th, #grdReadBy th, #ctl00_upItems th, #grdAssignments th, #grdDesktops th, #grdTickets th, #ctl00_ctl00_cpContent_cpContent_grdTickets th, #UpdatePanel2 th {
    background-color: #ddd;
}

.table-striped td, .table-striped td a {
    color: white !important;
}

/*Group Members table*/
#grdMembers tr {
    background-color: #777 !important;
}

#grdMembers tr span {
    color: white !important;
}
/*End Group Members Table*/

/*Knowledgebase*/
.master-header {
    background-color: #5f636b !important;
}

.logo-header-full {
    background-image: url("https://secure.oregonstate.edu/u_central/images/blackWordmark.gif");
    background-repeat: no-repeat;
    background-color: black;
    margin-bottom: 1em;
    box-shadow: 0px 10px #e55302;
}

#divLogo {
    visibility: hidden;
}

#navContainer a{
    color: black !important;
}

.settings-button {
    color: white;
}

.media-body .gray {
    color: black !important;
}

.media {
    background-color: #cfd1d3;
}

li.themed.tdbar-button-anchored a {
    color: white !important;
}

li.themed.tdbar-button-anchored.active a{
    color: white !important;
}
span.gutter-top-sm.gray.fa.fa-4x.fa-fw {
    color: black !important;
}

.media-body .gutter-bottom-xs a {
    color: #5394fc  !important;
}

#collapseMe .active a {
    color: white !important;
    background-color: black !important;
}

/*Navbar*/
#td-navbar-collapse li a{
    color: white !important;
}

/*Feed Text*/
.gutter-top-xs {
    color: white !important;
}

/*End Knowledgebase*/

#divServiceLevelAgreement {
    display: none !important;
}

#divCats, textarea {
    color: black;
}

.cke_editable {
    background-color: white !important;
}

#ctl00_ctl00_cpContent_cpContent_divBody p, #ctl00_ctl00_cpContent_cpContent_divBody a, #ctl00_ctl00_cpContent_cpContent_divBody ol, #ctl00_ctl00_cpContent_cpContent_divBody strong, #ctl00_ctl00_cpContent_cpContent_divBody li, #ctl00_ctl00_cpContent_cpContent_divBody td, #ctl00_ctl00_cpContent_cpContent_divBody h1, #ctl00_ctl00_cpContent_cpContent_divBody h2, #ctl00_ctl00_cpContent_cpContent_divBody h3 {
    color: white;
}

.js-icon, .icon-text, .js-selected-icon-display {
    color: #e5e5e5;
}

li.active, li.active a {
    background-color: #5f636b !important;
    color: white !important;
}

/*Lighter link colors on dark background*/
.user-link a, .gutter-bottom-xs a, .nav-tabs a, #divDetails a, .gutter-top-xs a {
    color: #9bc1ff !important;
}

.media-body .gutter-top-xs a, .block-actions a, .media-heading a, #divTasks a {
    color: #116af9 !important;
}

/*Chat menu*/
#ChatMenu {
    background-color: #5f636b !important;
}

#divChat, #lblChatUsersCount {
    color: white;
}

.ChatRow {
    background-color: #ccc !important;
    border-radius: 5px;
}
/*End chat menu*/

/*Groups page*/
#divRight {
    background-color: #5f636b !important;
}

/*Tasks*/
#divTasks a {
    color: #5394fc !important;
}

#divTasks .gutter-top-xs {
    color: white;
}

/*Tasks*/
#divTasks a {
    color: #5394fc !important;
}

#divTasks .gutter-top-xs {
    color: white;
}
