@-moz-document url-prefix("https://tools.is.oregonstate.edu/reftool2/") {
body {
    background-image:    url("https://i.imgur.com/8dfzF2h.gif");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	background-size: cover;
}

/*Main background settings*/
.panel {
    background-color: rgba(12, 154, 255,0.6);
    border-radius: 10px;
    color: #fff;
}

/*Color change on hover*/
.panel:hover {
    background-color: rgba(12, 154, 255,0.8);
}

/*Searchbox*/
.form-control {
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;
}

/*Searchbox on hover*/
.form-control:hover {
    background-color: rgba(255,255,255,0.8);
}

/*Button Settings*/
.btn {
    border-radius: 10px;
}

/*Search results heading*/
.panel-heading {
    border-radius: 10px;
    color: #fff !important;
	background-color: #0564a8 !important;    
}

/*Search result boxes*/
.details-panel {
	background-color: #0564a8;   
    border-radius: 5px;
}

/*History link above notes*/
.history-button {
	color: white;    
}

/*Advanced Options*/
#show-advanced a {
    color: white !important;
}

/*Search Help*/
.control-label {
    color: white !important;
}

/*Seach Type*/
.search-type {
    color: white !important;
}

/*More white text*/
.list-group-item {
	color: white !important;
    background-color: #0564a8 !important;
}


.list-group-item-heading, .list-group-item-text {
    color: white !important;
}

/*Dropdown menu and Navbar settings*/

/*Navbar background color*/
.navbar {
   background-color: #0564a8;
}


.dropdown-menu, .dropdown-menu li a {
    background-color: #0564a8 !important;
    color: white !important;
}

/*Dropdown links on hover*/
li .dropdown-toggle:hover, .dropdown-menu li a:hover, li.open .dropdown-toggle {
     background-color: #02497c !important;
}

tr.clickable {
    background-color: #02497c;
}

.clickable:hover td {
    background-color: #02497c;
}

/*Search result color changes*/
.vip[_ngcontent-c10], .vip[_ngcontent-c8], .vip[_ngcontent-c7], .vip[_ngcontent-c6], .vip[_ngcontent-c9]{
    background-color: #bf1313 !important;
}

.lrp[_ngcontent-c10], .lrp[_ngcontent-c7], .lrp[_ngcontent-c8], .lrp[_ngcontent-c6], .lrp[_ngcontent-c9] {
    background-color: #DAA520 !important;
}

.extension[_ngcontent-c10], .extension[_ngcontent-c7], .extension[_ngcontent-c8], .extension[_ngcontent-c9], .extension[_ngcontent-c6] {
    background-color: #00911d !important;
}

.osu-id-match[_ngcontent-c10], .osu-id-match[_ngcontent-c7] {
    background-color: #5694f7 !important;
}

.list-group-item .clickable .lrp .extension a {
	background-color: blue !important;
}

.cascades[_ngcontent-c10], .cascades[_ngcontent-c7], .cascades[_ngcontent-c8], .cascades[_ngcontent-c6], .cascades[_ngcontent-c9] {
    background-color: #8e00aa !important;
    color: white !important;
}

/*Multiple Tags*/
.extension[_ngcontent-c10].lrp[_ngcontent-c10], .extension[_ngcontent-c7].lrp[_ngcontent-c7], .extension[_ngcontent-c8].lrp[_ngcontent-c8], .extension[_ngcontent-c6].lrp[_ngcontent-c6], .extension[_ngcontent-c9].lrp[_ngcontent-c9] {
    background: linear-gradient(to right, #00911d , #DAA520) !important;
}

.vip[_ngcontent-c10].lrp[_ngcontent-c10], .vip[_ngcontent-c7].lrp[_ngcontent-c7], .vip[_ngcontent-c8].lrp[_ngcontent-c8], .vip[_ngcontent-c6].lrp[_ngcontent-c6] {
    background: linear-gradient(to right, #bf1313, #DAA520) !important;
}

.vip[_ngcontent-c10].cascades[_ngcontent-c10], .vip[_ngcontent-c7].cascades[_ngcontent-c7], .vip[_ngcontent-c8].cascades[_ngcontent-c8], .vip[_ngcontent-c6].cascades[_ngcontent-c6], .vip[_ngcontent-c9].cascades[_ngcontent-c9] {
    background: linear-gradient(to right, #8e00aa, #bf1313) !important;
}

.cascades[_ngcontent-c10].lrp[_ngcontent-c10], .cascades[_ngcontent-c7].lrp[_ngcontent-c7], .cascades[_ngcontent-c8].lrp[_ngcontent-c8], .cascades[_ngcontent-c6].lrp[_ngcontent-c6] {
    background: linear-gradient(to right, #8e00aa, #DAA520) !important;
}

/*Inside box background color*/
.well {
    background-color: #0564a8 !important;
    border-radius: 5px;
}

/*Inside box text colors*/
.well td, .well th {
        color: white !important;
}

td a, .external-reports a, .col-md-8 a {
    color: #77abff;
}

/*Notes box text color*/
textarea {
    color: black;
}


.panel-footer {
    background-color: rgba(0,0,0,0);
}

/*Hides disclaimer button*/
.btn-disclaimer {
    display: none !important;
}

/*LDAP Button*/
.btn-subtle {
	color: white !important;   
}
}
