@-moz-document url-prefix("https://oregonstate.teamdynamix.com/TDNext/Apps/425/Tickets/TicketUpdate") {
//Outer container of the fields {}
#Form1 > div:nth-child(21) > div > div.col-sm-8 > div {
    display: flex;
    flex-wrap: wrap;
}

//Status {}
#divNewStatus {
    margin: 0px 10px 10px 10px;
    order: -1;
}

//Status time warning thing {}
#divNoTimeTypes {
    width: 650px;
    margin: 0px 5px 10px 15px;
}

//Comments {}
#divComments {
    width: 100%;
    margin: 0px 10px 10px 10px;
}

//Notify {}
#divNotification {
    width: 400px;
    margin: 0px 10px 10px 10px;
}

//Notify Others {}
#divOtherPeople {
    width: 450px;
    margin: 0px 10px 10px 10px;
}

//Other Email Addresses {}
#divOtherEmailAddresses {
    width: 300px;
    margin: 0px 10px 10px 10px;
}

//Attachments {}
#divAttach {
    width: 600px;
    margin: 0px 10px 10px 10px;
}

//Knowledge Base Article {}
#divKBArticle {
    width: 425px;
    margin: 0px 10px 10px 10px;
}

//KB ExistingandCreate derp {}
#divExistingArticle {

    width: 425px;
    margin: 0px 10px 10px 10px;
}
#divNewArticle {
    width: 425px;
    margin: 0px 10px 10px 10px;
}

//Account Type {}
#divAttribute25368 {
    margin: 0px 10px 10px 10px;
}

//COHO Ticket num link {}
#divAttribute25936 {
    margin: 0px 10px 10px 10px;
    width: 300px;
    height: 120px;
}

//Customer Location {}
#divAttribute25386 {
    margin: 0px 10px 10px 10px;
}

//Related ticket {}
#divAttribute26857 {
    margin: 0px 10px 10px 10px;
}

//Walkup Customer {}
#divAttribute25384 {
    margin: 0px 10px 10px 10px;
}

//Inventory ID {}
#divAttribute25383 {
    margin: 0px 10px 10px 10px;
}

//Computer Device Name {}
#divAttribute25382 {
    margin: 0px 10px 10px 10px;
}

//Manufacturer {}
#divAttribute25737 {
    margin: 0px 10px 10px 10px;
}

//Notes {}
#divAttribute25376 {
    margin: 0px 10px 10px 10px;
}

//OS {}
#divAttribute25738 {
    margin: 0px 10px 10px 10px;
}

//Type {}
#divAttribute25385 {
    margin: 0px 10px 10px 10px;
}

//Email Provider {}
#divAttribute25398 {
    margin: 0px 10px 10px 10px;
}

//Extension Customer {}
#divAttribute25373 {
    margin: 0px 10px 10px 10px;
}



/* uncomment the following to hide things: */

/*//Requestor Card Removal {}
#Form1 > div:nth-child(21) > div > div.col-sm-4.gutter-top {
    display: none;
}
//Resize Column (only tested/works if requestor card removed) {}
@media (min-width: 768px) {
	#Form1 > div:nth-child(21) > div > div.col-sm-8 {
    	width: 100%;
        padding: 5px 40px 0px 40px;
	}
}*/

/*//Knowledge Base Article note that this will be used and relevant someday so hide at your own risk {}
#divKBArticle {
    display: none;
}*/

/*//COHO Ticket Num {}
#divAttribute25936 {
	display: none;
}*/
}